body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quadrado{
    width: 20%;
    height: 50%;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border-radius: 20px;
    background-color: rgba(0, 208, 255, 0.375);
}
.quadradinho{
    width: 90%;
    height: 60%;
    border: black 1px solid;
    align-self: center;
    background-color: aliceblue;
    overflow: auto;
}
.receber{
    display: flex;
    align-items: start;
    margin-top: 10px;
}
.receber > input{
    margin: 0px 5px 5px 5px;

}
.calcular{
    margin-bottom: 5px;
}
.resposta{
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: 10px;
}
